@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	共通部分
----------------------------------------*/
html {
	font-size: 16px;
}

body {
	@include Gothic-Hira;
	font-size: 1rem;
	line-height: 1.5;
  color: $color-black;
  word-break: break-all;
}

main {
	display: block;
}

a {
	outline: none;
	text-decoration: none;

}

img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
th {
	font-weight: bold;
}




.bold {
  font-weight: bold;
}

.red {
	color: $color-red;
	font-weight: bold;
}

.ylw2 {
	color: $color-ylw;
}

.bg-y {
	background: linear-gradient(180deg, transparent 50%, $color-ylw 50%);
}

.small {
	font-size: 10px;
  font-weight: normal;
  color: $color-sup;
  display: inline-block;
}

sup {
  font-size: 9px;
  color: $color-sup;
  line-height: 1.3;
  display: inline-block;
  vertical-align: baseline;
}


.sup-box {
  padding: 1rem 0;
  sup {
    display: block;
    font-size: 11px;
    color: $color-sup;
  }
}