@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	l-container
----------------------------------------*/
.l-container-renew {
	margin-top: 45px;
  @include mq(pc) {
    width: $pc;
    margin: 63px auto 0;
		border: 1px solid $color-base-gray;
  }
}