@charset "utf-8";

/*----------------------------------------
	@use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	l-header
----------------------------------------*/
.l-header-renew {
  background: $color-white;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
}

.l-nav-renew {
  margin: auto;
  position: relative;
  z-index: 11;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
	gap: 1rem;
	height: 45px;
  @include mq(pc) {
    width: $pc;
		height: 64px;
  }
  &__logo {
    // width: 95%;
		// padding: 0 0 8px;
		img {
			&.-v3 {
				width: 55%;
				@include mq(pc) {
					width: 100%;
				}
			}
			&.logo-moneypay {
				width: 90%;
				@include mq(pc) {
					width: 85%;
				}
			}
			&.logo-madoguchi {
				width: 100%;
			}
		}
    @include mq(pc) {
      width: 230px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    @include mq(pc) {
      gap: 1rem;
			height: inherit;
    }
    .list {
      .pr {
				display: inline-block;
        font-size: 2.9vw;
        border: 1px solid;
        height: 20px;
        padding: 0 4px;
				line-height: 20px;
				white-space: nowrap;
				margin-right: 10px;
        @include mq(pc) {
          font-size: 12px;
        }
      }
			&.link {
				height: 45px;
				display: flex;
				align-self: center;
				justify-content: center;
				align-items: center;
			}
      a {
				height: 88%;
        display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 6px;
        padding: 0 4px;
				text-align: center;
				width: 100%;
        @include mq(pc) {
          flex-direction: row;
          gap: 10px;
          padding: 20px 30px;
          box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, .1019607843);
        }
				img {
					vertical-align: top;
					width: 20px;
					order: 2;
					@include mq(pc) {
						order: 1;
					}
				}
        span {
					display: inline-block;
          line-height: 1;
          word-break: keep-all;
          font-weight: 700;
          font-size: 2.6vw;
					order: 1;
          @include mq(pc) {
            font-size: 16px;
						order: 2;
          }
        }
      }
      &:not(:last-child) {
        a { 
          border-left: 2px dotted $color-secondary; 
          @include mq(pc) {
            border-left: none;
          }
        }
      }

      &:nth-child(2) {
        a {
          img {
            width: 20px;
          }
        }
      }
      &:nth-child(3)  {
        a {
          img {
            width: 20px;
            @include mq(pc) {
              width: 24px;
            }
          }
        }
      }
			&:nth-child(4) {
				a {
					img {
						width: 16px;
						@include mq(pc) {
							width: 20px;
						}
          }
        }
      }
    }
  }
  &__ham {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 7px;
    background: #f5f4ef;
    width: 37px;
    height: 45px;
    z-index: 100;
		position: relative;
		z-index: 99999;
		@include mq(pc) {
			display: none;
		}
    span {
      width: 22px;
      height: 2px;
      background: $color-black;
    }
		&.open {
			span {
				transform-origin: center;
				&:nth-child(1) {
					transform: rotate(-45deg) translateY(3px) translateX(-3px);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: rotate(45deg) translateY(-3px) translateX(-3px);
				}
			}
		}
  }
  &__menu {
    display: none;
  }
}

.l-header-open {
	position: fixed;
	right: 0;
	top: 0;
	width: 60vw;
	height: 100vh;
	background: $color-white;
	z-index: 100;
	overflow-y: scroll;
	padding: 1rem;
	border-radius: 20px 0 0 20px;
	z-index: 201;
	display: none;
	&.open {
		display: block;
	}
	ul {
		padding: 1rem 0 0 1rem;
	}
	li {
		padding: 10px 0;
		display: flex;
		align-items: center;
		gap: 8px;
		&:not(:last-child) {
			border-bottom: 1px dashed #f5f4ef;
		}
		img {
			width: 7vw;
		}
		a {
			font-size: 0.9rem;
			font-weight: 600;
		}
	}
}
