@charset "utf-8";

@use "../assets/scss/foundation" as *;

body {
  text-align: center;
  @include Gothic-Hira;
}

/*----------------------------------------
	p-redirect
----------------------------------------*/
.p-redirect {
  height: 100svh;
  padding: 4rem 0 0;
  @include mq(pc) {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  article {
    @include mq(pc) {
      width: 100%;
      max-width: 720px;
    }
  }
  &-head {
    padding: 10px 10px 1rem;
    @include mq(pc) {
      padding: 1rem 1rem 2rem;
    }
    &__loader {
      margin: 0 auto 2rem;
      font-size: 5px;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      position: relative;
      text-indent: -9999em;
      animation: redirectLoadAnimation 1.1s infinite ease;
      transform: translateZ(0);
      @include mq(pc) {
        font-size: 10px;
        margin: 0 auto 4rem;
      }
    }
  }
  &-ctt {
    width: 100%;
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
    @include mq(pc) {
      padding: 1rem 2rem 0;
    }
    &__thumb {  
      width: 100%;
      text-align: center;
      img {
        width: 50vw;
        @include mq(pc) {
          width: 300px;
        }
      }
      p {
        text-align: center;
        padding: 1rem 0;
        background: $color-white;
        border-radius: 50px;
        font-weight: 600;
        @include mq(pc) {
          padding: 1rem 0 2rem;
          font-size: 1.2rem;
        }
      }
    }
    &__text {
      line-height: 1.6;
      font-size: 0.8rem;
      color: #999;
      a {
        text-decoration: underline;
        color: #095bd6;
      }
    }
    &__sup {
      padding: 1rem 0;
      color: #999;
      sup {
        font-size: 9px;
        display: block;
        line-height: 1.2;
      }
    }
    .catch-group {
      width: 90%;
      margin: 0 auto;
      position: relative;
      @include mq(pc) {
        width: 100%;
      }
      &:after {
        content: "Check!";
        position: absolute;
        font-style: italic;
        background-color: #ef4a4a;
        color: $color-white;
        padding: 2px 8px 2px 4px;
        left:  0;
        top: -.3rem;
        font-size: 10px;
        letter-spacing: 1px;
        clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
        @include mq(pc) {
          font-size: 12px;
          letter-spacing: 2px;
          padding: 4px 20px 4px 10px;
        }
      }
      h1 {
        font-size: 4vw;
        padding: 10px 4px;
        border: 1px solid #dacece;
        background-color: $color-white;
        border-radius: 8px;
        line-height: 1.3;
        @include mq(pc) {
          font-size: 1.5rem;
          padding: 1rem;
        }
      }
    }
    .timer-group {
      width: 100%;
      padding: 1rem 10px;
      font-size: 0.7rem;
      line-height: 1.6;
      @include mq(pc) {
        font-size: 0.9rem;
      }
      .timer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .timer-title {
          display: flex;
          gap: 10px;
          font-weight: 600;
          background-color: #ffe2b9;
          color: #8f5a11;
          padding: 4px 10px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 99%;
            transform: translateY(-50%);
            border-top: 4px solid transparent;
            border-left: 8px solid #fac780;
            border-bottom: 4px solid transparent;
          }
        }
        .timer-js {
          display: flex;
          gap: 4px;
          align-items: center;
          .countdown {
            color: #e08e1c;
            font-weight: 600;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

/*----------------------------------------
	animation
----------------------------------------*/
.red {
  color:#ff5900;
  font-weight: bold;
}

.bg-y {
  background: linear-gradient(to top,#ffe28d 50%, rgba(255,255,255,0) 50%);
}

/*----------------------------------------
	animation
----------------------------------------*/
@keyframes redirectLoadAnimation {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $color-salmon, 1.8em -1.8em 0 0em #eee, 2.5em 0em 0 0em #eee, 1.75em 1.75em 0 0em #eee, 0em 2.5em 0 0em #eee, -1.8em 1.8em 0 0em #eee, -2.6em 0em 0 0em lighten($color-salmon, 10%), -1.8em -1.8em 0 0em lighten($color-salmon, 10%);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em lighten($color-salmon, 10%), 1.8em -1.8em 0 0em $color-salmon, 2.5em 0em 0 0em #eee, 1.75em 1.75em 0 0em #eee, 0em 2.5em 0 0em #eee, -1.8em 1.8em 0 0em #eee, -2.6em 0em 0 0em #eee, -1.8em -1.8em 0 0em lighten($color-salmon, 10%);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em lighten($color-salmon, 10%), 1.8em -1.8em 0 0em lighten($color-salmon, 10%), 2.5em 0em 0 0em $color-salmon, 1.75em 1.75em 0 0em #eee, 0em 2.5em 0 0em #eee, -1.8em 1.8em 0 0em #eee, -2.6em 0em 0 0em #eee, -1.8em -1.8em 0 0em #eee;
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em #eee, 1.8em -1.8em 0 0em lighten($color-salmon, 10%), 2.5em 0em 0 0em lighten($color-salmon, 10%), 1.75em 1.75em 0 0em $color-salmon, 0em 2.5em 0 0em #eee, -1.8em 1.8em 0 0em #eee, -2.6em 0em 0 0em #eee, -1.8em -1.8em 0 0em #eee;
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em #eee, 1.8em -1.8em 0 0em #eee, 2.5em 0em 0 0em lighten($color-salmon, 10%), 1.75em 1.75em 0 0em lighten($color-salmon, 10%), 0em 2.5em 0 0em $color-salmon, -1.8em 1.8em 0 0em #eee, -2.6em 0em 0 0em #eee, -1.8em -1.8em 0 0em #eee;
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em #eee, 1.8em -1.8em 0 0em #eee, 2.5em 0em 0 0em #eee, 1.75em 1.75em 0 0em lighten($color-salmon, 10%), 0em 2.5em 0 0em lighten($color-salmon, 10%), -1.8em 1.8em 0 0em $color-salmon, -2.6em 0em 0 0em #eee, -1.8em -1.8em 0 0em #eee;
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em #eee, 1.8em -1.8em 0 0em #eee, 2.5em 0em 0 0em #eee, 1.75em 1.75em 0 0em #eee, 0em 2.5em 0 0em lighten($color-salmon, 10%), -1.8em 1.8em 0 0em lighten($color-salmon, 10%), -2.6em 0em 0 0em $color-salmon, -1.8em -1.8em 0 0em #eee;
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em #eee, 1.8em -1.8em 0 0em #eee, 2.5em 0em 0 0em #eee, 1.75em 1.75em 0 0em #eee, 0em 2.5em 0 0em #eee, -1.8em 1.8em 0 0em lighten($color-salmon, 10%), -2.6em 0em 0 0em lighten($color-salmon, 10%), -1.8em -1.8em 0 0em $color-salmon;
  }
}